<div class="content-container">
  <div class="content-area">
      <div class="clr-row">
          <ng-container *ngFor="let i of allItems" >
            <div *ngIf="i.show"
                class="clr-col-xl-2 clr-col-lg-4 clr-col-md-6 clr-col-12"
                id="item-display-{{i.id}}">
                <div class="card">
                  <a routerLink="/movies/detail/{{i.id}}"><div class="card-img"><img src="{{i.image}}"></div></a>
                  <div class="card-block"><div class="card-title">{{i.name}}</div></div>
                    <div class="card-footer">
                      <div *ngIf="i.paused" class="progress"><progress value="{{i.progress}}" max="100"></progress></div>
                      <button *ngIf="!i.paused" class="btn btn-sm btn-link">
                        <clr-icon shape="play" class="is-solid"></clr-icon> Play
                      </button>
                      <button *ngIf="i.paused" class="btn btn-sm btn-link">
                        <clr-icon shape="play" class="is-solid"></clr-icon> Continue
                      </button>

                      <clr-dropdown>
                        <button type="button" class="btn btn-sm btn-link" clrDropdownTrigger>
                          <clr-icon shape="ellipsis-vertical"></clr-icon> More
                        </button>
                        <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
                          <label class="dropdown-header">More Actions</label>
                          <button type="button" clrDropdownItem>Add to collection</button>
                          <button type="button" clrDropdownItem>Add to playlist</button>
                          <div class="dropdown-divider"></div>
                          <button type="button" clrDropdownItem>Download</button>
                          <button type="button" clrDropdownItem>Edit</button>
                        </clr-dropdown-menu>
                      </clr-dropdown>

                    </div>
                </div>
            </div>
          </ng-container>
        </div>
      </div>
  <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" [clr-nav-level]="2">
    <a clrVerticalNavLink *ngIf="libraryInfo.available.length != 1" routerLink="/movies" [ngClass]="active.special['libraries-all'] ? 'active' : ''">
      <clr-icon clrVerticalNavIcon shape="video-gallery"></clr-icon> All Libraries
    </a>
    <ng-container *ngIf="libraryInfo.available.length != 1">
      <a *ngFor="let i of libraryInfo.available"
        clrVerticalNavLink
        routerLink="/movies/libraries/{{i.id}}"
        routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="video-gallery"></clr-icon> {{i.name}}
      </a>
    </ng-container>
    <div class="nav-divider" *ngIf="libraryInfo.available.length != 1"></div>
 
    <a clrVerticalNavLink
      (click)="updateFilterSingle('status', 'paused'); active.filters['status-paused']=!active.filters['status-paused']"
      [ngClass]="active.filters['status-paused'] ? 'active' : ''">
      <clr-icon
        shape="pause"
        [ngClass]="active.filters['status-paused'] ? 'is-solid' : ''"></clr-icon>   Paused </a>
    
    <a clrVerticalNavLink
      (click)="updateFilterSingle('status', 'unwatched'); active.filters['status-unwatched']=!active.filters['status-unwatched']"
      [ngClass]="active.filters['status-unwatched'] ? 'active' : ''">
      <clr-icon
        shape="eye-hide"
        [ngClass]="active.filters['status-unwatched'] ? 'is-solid' : ''"></clr-icon>Unwatched </a>

    <a clrVerticalNavLink
      (click)="updateFilterSingle('status', 'watched'); active.filters['status-watched']=!active.filters['status-watched']"
      [ngClass]="active.filters['status-watched'] ? 'active' : ''">
      <clr-icon
      shape="eye"
      [ngClass]="active.filters['status-watched'] ? 'is-solid' : ''"></clr-icon>    Watched </a>

    <a clrVerticalNavLink
      (click)="updateFilterSingle('status', 'favorite'); active.filters['status-favorite']=!active.filters['status-favorite']"
      [ngClass]="active.filters['status-favorite'] ? 'active' : ''">
      <clr-icon
        shape="star"
        [ngClass]="active.filters['status-favorite'] ? 'is-solid' : ''"></clr-icon> Favorites </a>

    <div class="nav-divider"></div>
    <a clrVerticalNavLink (click)="resetFilters()">
      <clr-icon clrVerticalNavIcon shape="ban"></clr-icon> Reset Filters
    </a>

    <div class="nav-divider"></div><label class="nav-header">View Filters</label>
    <clr-vertical-nav-group *ngIf="!libraryInfo.single">
        <clr-icon clrVerticalNavIcon shape="video-gallery"></clr-icon> Movie Libraries
        <clr-vertical-nav-group-children>
          <a *ngFor="let i of libraryInfo.available"
            clrVerticalNavLink
            (click)="updateFilterSingle('library', i.id); active.filters['library-' + i.id]=!active.filters['library-' + i.id]"
            [ngClass]="active.filters['library-' + i.id] ? 'active' : ''"> {{i.name}}
          </a>
        </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>

    <clr-vertical-nav-group *ngIf="active.special['category-genres']">
      <clr-icon shape="list" clrVerticalNavIcon></clr-icon> Genres
      <clr-vertical-nav-group-children>
          <a *ngFor="let i of f.listItems.movies.genres"
            clrVerticalNavLink
            (click)="updateFilterSingle('genres', i); active.filters['genre-' + i]=!active.filters['genre-' + i]"
            [ngClass]="active.filters['genre-' + i] ? 'active' : ''"> {{i}} </a>
      </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>

    <clr-vertical-nav-group *ngIf="active.special['category-tags']">
      <clr-icon shape="tags" clrVerticalNavIcon></clr-icon> Tags
      <clr-vertical-nav-group-children>
          <a *ngFor="let i of f.listItems.movies.tags"
            clrVerticalNavLink
            (click)="updateFilterSingle('tags', i); active.filters['tag-' + i]=!active.filters['tag-' + i]"
            [ngClass]="active.filters['tag-' + i] ? 'active' : ''"> {{i}} </a>
      </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>

    <clr-vertical-nav-group *ngIf="active.special['category-parentalRatings']">
      <clr-icon shape="key" clrVerticalNavIcon></clr-icon> Parental Ratings
      <clr-vertical-nav-group-children>
          <a *ngFor="let i of f.listItems.movies.parentalRatings"
            clrVerticalNavLink
            (click)="updateFilterSingle('parentalRatings', i); active.filters['parentalRating-' + i]=!active.filters['parentalRating-' + i]"
            [ngClass]="active.filters['parentalRating-' + i] ? 'active' : ''"> {{i}} </a>
      </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>

    <clr-vertical-nav-group *ngIf="active.special['category-years']">
      <clr-icon shape="calendar" clrVerticalNavIcon></clr-icon> Years
      <clr-vertical-nav-group-children>
          <a *ngFor="let i of f.listItems.movies.years"
            clrVerticalNavLink 
            (click)="updateFilterSingle('years', i); active.filters['years' + i]=!active.filters['years' + i]"
            [ngClass]="active.filters['years' + i] ? 'active' : ''"> {{i}} </a>
      </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>

  </clr-vertical-nav>
</div>