<head>
  <base href="/">
</head>
<clr-main-container>
  <clr-header class="header-6">
    <div class="branding">
      <a href="..." class="nav-link">
        <clr-icon shape="film-strip"></clr-icon>
        <span class="title">Jellyfin</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
        <a routerLink="/home"    routerLinkActive="active" class="nav-link nav-text">Home</a>
        <a routerLink="/movies"  routerLinkActive="active" class="nav-link nav-text">Movies</a>
        <a routerLink="/tvshows" routerLinkActive="active" class="nav-link nav-text">Series</a>
        <a routerLink="/music"   routerLinkActive="active" class="nav-link nav-text">Music</a>
        <a routerLink="/clips"   routerLinkActive="active" class="nav-link nav-text">Clips</a>
        <a routerLink="/photos"  routerLinkActive="active" class="nav-link nav-text">Photos</a>
    </div>
    <form class="search">
        <label for="search_input">
            <input id="search_input" type="text" placeholder="Search your library...">
        </label>
    </form>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
          <clr-icon shape="user"></clr-icon>
        </a>
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
  </clr-header>
    <router-outlet></router-outlet>
</clr-main-container>

